.productListMain{
    background-color: black;
    width: 100vw;
    height: 90vh;
}
.productsContainer{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}
.prodcutsComponent{
    margin-left: 30px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    height: 150px;
    width: 90%;
    border: 1px solid rgb(79, 79, 79);
    margin-bottom: 20px;
}
.itemPhoto{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
}
.viewInfo{
    background-color: rgb(0, 187, 0);
    font-family: 'AFACAD Flux', sans-serif;
    color: black;
    outline: none;
    border: none;
    font-size: 20px;
    border-radius: 5px;
    height: 70px;
    width: 150px;
    text-decoration: none;
}
.deleteProduct{
    background-color: red;
    font-family: 'AFACAD Flux', sans-serif;
    color: black;
    outline: none;
    border: none;
    font-size: 20px;
    border-radius: 5px;
    height: 70px;
    width: 150px;
    text-decoration: none;
}
.addButton{
    background-color: rgb(0, 187, 0);
    font-family: 'AFACAD Flux', sans-serif;
    color: black;
    outline: none;
    border: none;
    font-size: 20px;
    border-radius: 5px;
    height: 100px;
    width: 300px;
    margin-left: 30px;
    margin-top: 50px;
    text-decoration: none;
}