@import url('https://fonts.googleapis.com/css2?family=AFACAD+Flux&display=swap');
.category{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-top: 30px;
}
.categoryName{
    color: rgb(221, 221, 221);
    font-family: 'AFACAD Flux', sans-serif;
    font-size: 15px;
    cursor: pointer;
}
.item{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
img{
    height: 80px;
    width: 80px;
}