.container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('./cosmic-background-with-colorful-laser-lights-with-cool-shapes.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    z-index: 0;
}
.Form{
    margin-top: 200px;
    background-color: black;
    width: 500px;
    height: 900px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
}
.title{
    color: white;
    margin-left: 100px;
    outline: none;
    font-family: 'AFACAD Flux', sans-serif;
    font-size: 30px;
}
.Form>input{
    height: 6%;
    width: 65%;
    background-color: black;
    font-family: 'AFACAD Flux', sans-serif;
    cursor: pointer;
    border: 1px solid rgb(79, 79, 79);
    outline: none;
    margin-left: 20%;
    padding-left: 3%;
    color: white;
}
.Form>select{
    height: 6%;
    width: 65%;
    background-color: black;
    font-family: 'AFACAD Flux', sans-serif;
    cursor: pointer;
    border: 1px solid rgb(79, 79, 79);
    outline: none;
    margin-left: 20%;
    padding-left: 3%;
    color: white;
}
.status{
    color: rgb(79, 79, 79);
    font-family: 'AFACAD Flux', sans-serif;
    font-size: 17px;
    margin-left: 23%;
}
.Form>button{
    height: 6%;
    width: 65%;
    background-color: rgb(0, 206, 0);
    font-family: 'AFACAD Flux', sans-serif;
    cursor: pointer;
    border: 1px solid rgb(79, 79, 79);
    outline: none;
    margin-left: 20%;
    padding-left: 3%;
}